# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
logs/

# instance

run/

# bytecode

/viewBytecode.txt
.viewBytecode.txt
viewBytecode.txt

# zed

.zed/

# Sourcecode
mc-source/

# codex

.codex/

# local skins

src/client/resources/assets/minecraft/textures/entity/player/skin_*.png
src/client/resources/assets/minecraft/textures/entity/player/cape_*.png
src/client/resources/assets/minecraft/textures/entity/player/wide/steve.png
src/client/resources/assets/minecraft/textures/entity/player/wide/alex.png
src/client/resources/assets/minecraft/textures/entity/player/wide/sunny.png
src/client/resources/assets/minecraft/textures/entity/player/wide/zuri.png
src/client/resources/assets/minecraft/textures/entity/player/wide/noor.png
src/client/resources/assets/minecraft/textures/entity/player/wide/makena.png
src/client/resources/assets/minecraft/textures/entity/player/wide/kai.png
src/client/resources/assets/minecraft/textures/entity/player/wide/efe.png
src/client/resources/assets/minecraft/textures/entity/player/wide/ari.png
src/client/resources/assets/minecraft/textures/entity/player/slim/steve.png
src/client/resources/assets/minecraft/textures/entity/player/slim/alex.png
src/client/resources/assets/minecraft/textures/entity/player/slim/sunny.png
src/client/resources/assets/minecraft/textures/entity/player/slim/zuri.png
src/client/resources/assets/minecraft/textures/entity/player/slim/noor.png
src/client/resources/assets/minecraft/textures/entity/player/slim/makena.png
src/client/resources/assets/minecraft/textures/entity/player/slim/kai.png
src/client/resources/assets/minecraft/textures/entity/player/slim/efe.png
src/client/resources/assets/minecraft/textures/entity/player/slim/ari.png
