# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# instance

run/

# bytecode

/viewBytecode.txt
.viewBytecode.txt
viewBytecode.txt

# zed

.zed/

# Sourcecode
mc-source/

# codex

.codex/

# local skins

src/client/resources/assets/minecraft/textures/entity/player/skin_*.png
src/client/resources/assets/minecraft/textures/entity/player/steve.png
src/client/resources/assets/minecraft/textures/entity/player/alex.png
src/client/resources/assets/minecraft/textures/entity/player/cape_*.png
src/client/resources/assets/minecraft/textures/entity/player/sunny.png
src/client/resources/assets/minecraft/textures/entity/player/zuri.png
src/client/resources/assets/minecraft/textures/entity/player/noor.png
src/client/resources/assets/minecraft/textures/entity/player/makena.png
src/client/resources/assets/minecraft/textures/entity/player/kai.png
src/client/resources/assets/minecraft/textures/entity/player/efe.png
src/client/resources/assets/minecraft/textures/entity/player/ari.png
