# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# instance

run/

# bytecode

/viewBytecode.txt
.viewBytecode.txt
viewBytecode.txt

# zed

.zed/

# Sourcecode
mc-source/

# codex

.codex/

# local skins

src/client/resources/assets/vsq/textures/entity/skin_*.png
src/client/resources/assets/vsq/textures/entity/steve.png
src/client/resources/assets/vsq/textures/entity/alex.png
src/client/resources/assets/vsq/textures/entity/cape_*.png
/src/client/resources/assets/vsq/textures/entity/sunny.png
/src/client/resources/assets/vsq/textures/entity/zuri.png
/src/client/resources/assets/vsq/textures/entity/noor.png
/src/client/resources/assets/vsq/textures/entity/makena.png
/src/client/resources/assets/vsq/textures/entity/kai.png
/src/client/resources/assets/vsq/textures/entity/efe.png
/src/client/resources/assets/vsq/textures/entity/ari.png
